/* src/App.css */
.App {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #7843E9;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #5638D0;
}

h2 {
  margin-top: 20px;
}

p {
  font-size: 18px;
}
